<div id="fileUpload">
    <div class="col-lg-7">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="file" id="select-file" class="file-loader" multiple>
            </span>

        <button type="submit" class="btn btn-primary" id="upload-file">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>

        <button type="button" class="btn btn-danger" id="remove-all-file">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete selected file</span>
        </button>
    </div>

    <div id="documents-table">
        <table class="table table-striped">
            <thead>
            <th>Preview</th>
            <th>Name</th>
            <th>Size</th>
            <th>last modified</th>
            <th><input type="checkbox" id="select-all-file"></th>
            </thead>
            <tbody id="loadImageList"></tbody>
        </table>
    </div>

    <div id="load-message"></div>

    <script id="loadImageTmpl" type="text/x-jquery-tmpl">
            <tr>
                <td><img width="64" height="64" id="image"/></td>
                <td class="file-name">{%= name%}</td>
                <td>{%= (size / (1024*1024)).toFixed(2)%} MB</td>
                <td>{%=  lastModifiedDate%} </td>
                <td><input type="checkbox" class="remove-file"></td>
            </tr>
    </script>

</div>
